/*@font-face {
    font-family: 'corsicasx6';
    src: url('fonts/corsicasx6.eot');
    src: url('fonts/corsicasx6.eot') format('embedded-opentype'),
         url('fonts/corsicasx6.woff2') format('woff2'),
         url('fonts/corsicasx6.woff') format('woff'),
         url('fonts/corsicasx6.ttf') format('truetype'),
         url('fonts/corsicasx6.svg#corsicasx6') format('svg');
}

@font-face {
    font-family: 'CorsicaSXSemiBold';
    src: url('fonts/CorsicaSXSemiBold.eot');
    src: url('fonts/CorsicaSXSemiBold.eot') format('embedded-opentype'),
         url('fonts/CorsicaSXSemiBold.woff2') format('woff2'),
         url('fonts/CorsicaSXSemiBold.woff') format('woff'),
         url('fonts/CorsicaSXSemiBold.ttf') format('truetype'),
         url('fonts/CorsicaSXSemiBold.svg#CorsicaSXSemiBold') format('svg');
}
 */

body {
	margin: 0;
	font: 14px "Roboto", sans-serif;
	background: #eeeef1;
}

h1, h2, h3, h4, p {
	margin: 0;
}

.text-center {
    text-align: center;
}

.container {    
    margin: auto;
	width: 100%;
    max-width: 90%;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 999;
    left: 0;
}

.loader img {
    max-width: 50px;
}
.page-wrappers {
    position: relative;
    max-width: 375px;
    margin: auto;
    background: #fff;
    height: 100vh;
    box-sizing: border-box;
	overflow: hidden;
}

.page-wrapper {
    height: 90%;
    padding: 14px 10px 14px 16px;
    box-sizing: border-box;
    overflow: auto;
    margin: 45px 0;
    scrollbar-width: thin;
	scrollbar-color: transparent transparent;
	transition: scrollbar-color 0.3s;
}
.page-wrapper.page-wrapper-ex {
    margin-top: 60px;
	background: #f6f7fa;
}
.page-wrapper:hover {
  scrollbar-color: #eee #fff;
}

header.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 11px 0 11px;
    position: fixed;
    left: 0;
    right: 0;
    max-width: 375px;
    margin: auto;
    background: #fff;    
    box-sizing: border-box;
    top: 0;
}

header.header .brdc {
    width: 100%;
	padding-top: 0px;
}

header.header .right img {
    max-width: 19.5px;
    position: relative;
    top: 1px;
	right: 1px;
}

.page-wrapper-ex .section-1 .image img {
    border-radius: 10px;
}

section.section-2 .rw .bx {
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px 10px;
    border: 1px solid #dddddd;
    margin: 5px 0 10px;
}

section.section-2 {
    padding-top: 3px;
}

section.section-2 .rw .bx left img {
    max-width: 40px;
}

section.section-2 .rw .bx .image img {
    max-width: 250px;
}

section.section-2 .rw .bx .image {
    padding: 0 10px 0 5px;
    box-sizing: border-box;
}

section.section-2 .rw .bx .right {}

section.section-2 .rw .bx .right .info h3 {
    padding-bottom: 5px;
    color: #000;
    font-size: 15px;
    letter-spacing: .1px;
	font-weight: 500;
}

section.section-2 .rw .bx .right .info p {
    color: #9999a6;
    letter-spacing: .1px;
    line-height: 20px;
    font-size: 14px;
}

section.section-3 {}

section.section-3 .image {
    text-align: center;
    padding-top: 5px;
}

section.section-3 .image img {
    max-width: 75%;
    margin: auto;
}

section.section-3 p.title {
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}

section.section-4 {
    padding-top: 30px;
}

section.section-4 table th, 
section.section-4 table td {
    font-weight: normal;
    text-align: center;
    color: #333;
}

section.section-4 h3.title {
    color: #333;
    padding-bottom: 10px;
}

section.section-4 table {
    width: 100%;
}

section.section-4 table .icon img {
    max-width: 35px;
}

section.section-4 table .dflex {
    display: flex;
    align-items: center;
}

section.section-4 table td {
    padding: 8px 0;
}

section.section-4 table .icon {
    padding: 0 10px 0 0px;
}

section.section-4 table td h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #333;
}

section.section-4 table td p {
    font-size: 12px;
    color: #4eb98f;
    font-weight: 500;
    padding: 2px 0;
}

section.section-4 table td p.red {
    color: #ed363f;
}

section.section-4 table td h4 {
    font-weight: 500;
    font-size: 13px;
}

section.section-4 table th:first-child {
    text-align: left;
}

section.section-4 table th:last-child, 
section.section-4 table td:last-child {
    text-align: right;
}

.page-wrapper-ex .price-calc {
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    background-image: url(../images/ex-bg1.png);
    background-position: left top;
    background-size: 100%;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
}

.page-wrapper-ex .price-calc .priceref {
    text-align: center;
}

.page-wrapper-ex .price-calc .priceref p {
    font-size: 13px;
    color: #777;
}

.page-wrapper-ex .price-calc .priceref p span.ref {
    color: orange;
}

.page-wrapper-ex .price-calc  .base-price {
    text-align: center;
}

.page-wrapper-ex .price-calc .base-price h4 {
    font-size: 45px;
    font-family: corsicasx6;
    font-weight: 600;
    font-family: "Monda", sans-serif;
	letter-spacing: -5px;
	line-height: 40px;
	padding: 15px 0 0px 0;
}

.page-wrapper-ex .price-calc .base-price h4 span {
    background: url(../images/base.png);
    font-size: 13px;
    color: #fff;
    padding: 4px 7px 5px 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 400;
    background-position: center;
    position: relative;
    bottom: 5px; 
	letter-spacing: 0;
	line-height: normal;
}

.page-wrapper-ex p.onepriceex {
    text-align: center;
    font-weight: bold;
    padding: 5px 0 10px 0;
}

.page-wrapper-ex .pricerefBx {
    background-image: linear-gradient(45deg, #ffe885, #fffbd8);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 0px;
}

.page-wrapper-ex .pricerefBx table {
    background: #fff;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    border: 0;
}

.page-wrapper-ex .pricerefBx table thead tr:first-child {
    background-image: linear-gradient(45deg, #fff0a7, #fffbd8);
}

.page-wrapper-ex .pricerefBx table td {
    padding: 8px 10px;
    border: 1px solid #ebebeb;
    border-right: 0;
    border-top: 0;
    font-size: 13px;
    text-align: center;
}

.page-wrapper-ex .pricerefBx table td span.red {
    color: red;
    font-size: 12.5px;
}

.page-wrapper-ex .pricerefBx table tr td a {
    color: #333;
    display: inline-block;
    padding: 2px 0;
    font-size: 12px;
}

.page-wrapper-ex .pricerefBx table tr:last-child td {
    border-bottom: 0; 
}

.page-wrapper-ex .pricerefBx table th {
    color: #333;
    padding: 5px 10px 7px 10px;
    font-size: 15px;
    font-weight: 500;
}

.page-wrapper-ex .pricerefBx table tr td:first-child {
    border-left: 0;
}

.page-wrapper-ex .login-bx {
    text-align: center;
    margin: 15px 0;
}

.page-wrapper-ex .login-bx .login-btn {
    border: 0;
    background: #1d1c20;
    color: #fff;
    padding: 11px 0px;
    border-radius: 40px;
    width: 100%;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
	text-decoration: none;
	display: inline-block;
}

.page-wrapper-ex .login-bx p.text {
    color: #ff0036;
    font-weight: 500;
    font-size: 13px;
}

.page-wrapper-ex .deposit {
	text-align: center;
	display: flex;
	justify-content: space-around;
	padding-bottom: 10px;
}

.page-wrapper-ex .deposit .icon img {
    max-width: 30px;
}

.page-wrapper-ex .deposit a {
    color: #333;
    text-decoration: none;
}

.page-wrapper-ex .notify {
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #616161;
	justify-content: space-between;
	margin-top: 5px;
}

.page-wrapper-ex .notify .lefts {
    display: flex;
    align-items: center;
	font-size: 13px;
}

.page-wrapper-ex .notify .icon.right {}

.page-wrapper-ex .notify .icon.right img {
    max-width: 8px;
}

.page-wrapper-ex .notify .icon img {
    max-width: 16px;
}

.page-wrapper-ex .notify .icon {
    display: flex;
}

.page-wrapper-ex .notify .spr {
    padding: 0 6px;
}

.page-wrapper-ex .notify p.text {
   width: 100% !important;
}

.page-wrapper-ex .notify p.text span.time {
    color: #000;
}

section.section-4 .dflex-out {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

section.section-4 .dflex-out .dflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3px;
}

section.section-4 .dflex-out .bx > .dflex > img {
    max-width: 100px;
    display: flex;
}

section.section-4 .dflex-out .bx {
    background: #fff;
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
    width: 43%;
}

section.section-4 .dflex-out .dflex a img {
    max-width: 20px;
}

.page-wrapper.page-wrapper-ex section.section-4 {
    padding-top: 10px;
}

section.section-4 .dflex-out .text {
    font-weight: 500;
    color: #818181;
}

section.section-4 .dflex-out .text span.b {
    color: #000;
    font-size: 28px;
    font-weight: normal;
    font-family: "Monda", sans-serif;
}

section.section-4 .dflex-out .text span.rs {
    color: #000;
}

section.section-4 .dflex-out .small {
    padding: 5px 0;
    font-size: 12px;
    color: #ababab;
}

section.section-4 .dflex-out .rw {
    font-weight: 500;
    color: #818181;
    padding: 3px 0 0;
    font-size: 13px;
}

.page-wrapper.page-wrapper-ex section.section-4 p.title.btm {
    text-align: center;
	padding: 5px 0;
    color: #333;
    font-weight: 500;
    font-size: 13px;
}

.page-wrapper.page-wrapper-ex p.title {
    font-size: 18px;
	color: #242424;
}

.page-wrapper.page-wrapper-ex section.section-2 {
    margin-bottom: 30px;
}

.page-wrapper.page-wrapper-ex section.section-2 p.title {
    padding: 15px 0 10px;
}

.page-wrapper.page-wrapper-ex section.section-2 .bx {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: #fff;
    border: 0;
    margin-bottom: 7px;
}

.page-wrapper.page-wrapper-ex section.section-2 .bx .image {
    display: flex;
    align-items: center;
}

.page-wrapper.page-wrapper-ex section.section-2 .bx .image > img {
    max-width: 36px;
    opacity: .9;
}

.page-wrapper.page-wrapper-ex section.section-2 .bx h3 {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: .5px;
    padding-left: 6px;
}

.page-wrapper.page-wrapper-ex section.section-2 .bx  .info p {
    font-weight: 400;
    color: #454545;
    line-height: 150%;
    margin: 0;
}

.page-wrapperss.page-wrapper-login {
    padding: 0 10px;
    line-height: 150%;
}

.page-wrapperss.page-wrapper-login .login-bx {
    padding: 0 10px;
}

.page-wrapperss.page-wrapper-login .login-bx button.login-btn {
	margin-top: 10px;
    width: 65%;
}

.page-wrapperss.page-wrapper-login .section-3 p.title {
    padding-bottom: 10px;
}

.back-btn {}

.back-btn a img {
    max-width: 20px;
}

.back-btn a {
    display: inline-block;
    margin-top: 15px;
    margin-left: 5px;
}

.page-wrapperss.page-wrapper-loginacc {}

.page-wrapperss.page-wrapper-loginacc section.section-1 {
    padding: 40px 30px;
}

.page-wrapperss.page-wrapper-loginacc section.section-1 h3.title {
    font-weight: 500;
    font-size: 20px;
    color: #333;
    padding-bottom: 10px;
}

.page-wrapperss.page-wrapper-loginacc section.section-1 p {
    color: #ababab;
}

.form-bx {}

.form-bx label.text {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}

.form-bx .form-rw {
    margin: 10px 0;
    display: inline-block;
    width: 100%;
}

.form-bx .form-rw input[type="text"] {
    border: 0px solid #ccc;
    padding: 15px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    background: #f1f1f1;
    font-weight: bold;
    color: #000;
    box-sizing: border-box;
	outline: none;
}

.form-bx .form-rw .pos {
    position: relative;
}

.form-bx .form-rw .pos button {
	position: absolute;
    right: 7px;
    top: 13px;
    background: #333;
    border: 0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Roboto';
    bottom: auto;
}

.form-bx .form-rw .pos input[type="text"] {
    padding-right: 65px;
}

.form-bx .form-rw button.login-btn {}

.form-bx .login-btn, .button-style {
	cursor: pointer;
    border: 0;
    background: #1d1c20;
    color: #fff;
    padding: 11px 0px;
    border-radius: 40px;
    width: 100%;
    margin-top: 15px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto';
	text-align: center;
}

.page-wrapperss.form-wrapper {}

.page-wrapperss.form-wrapper label.text {
    background: transparent;
}

.page-wrapperss.form-wrapper .form-bx .form-rw {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.page-wrapperss.form-wrapper .form-bx  input[type="text"] {
    background: transparent;
    margin-top: 10px;
	font-weight: normal;
}

-wrapperss.form-wrapper .form-bx label.text {}

.page-wrapperss.form-wrapper .form-bx .form-rw label.text {
    position: absolute;
    left: 5px;
    background: #ffff;
    top: -9px;
    padding: 0 10px;
    font-weight: 400;
    right: auto;
    box-sizing: border-box;
    width: auto;
    display: inline-block;
	font-size: 13px;
}

.page-wrapperss.form-wrapper .form-bx .form-rw {
    position: relative;
    margin: 25px 0 0;
}

.page-wrapperss.form-wrapper .login-btn {
    margin-top: 25px;
}

.brdc {
    display: flex;
    align-items: center;
    padding-top: 15px;
    position: relative;
}

.brdc .back-btn a {
    margin-top: 0;
    display: flex;
}

.brdc .back-btn {
    margin-right: 10px;
    position: relative;
    z-index: 9;
}

.brdc h3 {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    margin: auto;
    text-align: center;
    color: #333;
    font-size: 18px;
}

.empty-page {}

.empty-page section.section-1 {
    display: flex;
    justify-content: center;
    min-height: 70vh;
    align-items: center;
}

footer.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 11px 8px 11px;
    position: fixed;
    left: 0;
    right: 0;
    max-width: 375px;
    margin: auto;
    background: #fff;
    box-sizing: border-box;
    bottom: 0;
    border-top: 1px solid #eee;
}

.page-wrappers.home-wrappers {
    background-image: url(../images/home-bg1.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: left top;
	background-size: 100%;
}

.page-wrappers.home-wrappers .page-wrapper {
    position: relative;
    margin-top: 0;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 {
    /* position: relative; */
    /* z-index: 999; */
}

.page-wrappers.home-wrappers header.header {
    z-index: 9;
    padding: 12px 15px;
    background: transparent;
}

.page-wrappers.home-wrappers .page-wrapper {
    background: transparent;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .pic img {
    max-width: 80px;
    margin: auto;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .pic {
    text-align: center;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .tab-inl {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 24px;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .userpro {
    text-align: center;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 h3 {
    font-size: 22px;
    padding: 10px 0 25px;
    font-weight: 700;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .bx h3 {
    padding: 0;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .bx p {
    color: #757575;
    font-weight: 400;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .bx {
    width: 100%;
    border-right: 1px solid #eee;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .bx:last-child {
    border: 0;
}

.page-wrappers.home-wrappers .page-wrapper section.section-2a {
    background-image: url(../images/home-bg2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 8px 10px 12px 10px;
}

.page-wrappers.home-wrappers section.section-2a .inside {}

.page-wrappers.home-wrappers section.section-2a .inside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .lefts {
    display: flex;
    color: #fff;
    align-items: center;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .lefts .lf img {
    max-width: 35px;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .lefts .rf p img.inq {
	position: relative;
	top: 2px;
	left: 3px;
    max-width: 15px;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .lefts .rf p {
    font-weight: normal;
    font-size: 13px;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .lefts .rf {
    padding-left: 10px;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .lefts p.ttl {
    color: #fcda8f;	
}

.page-wrappers.home-wrappers section.section-2a .inside .btm button {
    background: #404f81;
    color: #fff;
    width: 100%;
    border: 0;
    padding: 8px 0;
    margin-top: 5px;
    border-radius: 5px;
	cursor: pointer;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .rights button.btn {
    background: #f7e0b6;
    border: 0;
    border-radius: 30px;
    padding: 6px 10px;
    color: #ad570d;
	cursor: pointer;
}

.page-wrappers.home-wrappers section.section-3 .inside {
    background-image: url(../images/home-bg3.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 18px 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.page-wrappers.home-wrappers section.section-3 .inside p.ttl img {
    max-width: 17px;
    position: absolute;
    right: -21px;
    top: -4px;
}

.page-wrappers.home-wrappers section.section-3 .inside button.btn {
    background: #181818;
    border: 0;
    color: #fff;
    border-radius: 20px;
    padding: 9px 23px;
    margin-bottom: 10px;
	cursor: pointer;
}

.page-wrappers.home-wrappers section.section-3 .inside p.ttl {
    padding-bottom: 5px;
    color: #333;
	position: relative;
	display: inline-block;
}

.page-wrappers.home-wrappers section.section-3 .inside p b {
    font-size: 16px;
    font-weight: 500;
}

.page-wrappers.home-wrappers section.section-3 .inside .rights {
    text-align: center;
    padding-left: 7px;
}

.page-wrappers.home-wrappers section.section-3 .inside .mid {
    border-right: 1px solid #000;
}

.page-wrappers.home-wrappers section.section-3 .inside > div {
    width: 100%;
}

section.section-2.reffer {
    padding-top: 10px;
}

.page-wrappers.home-wrappers .page-wrapper.page-wrapper-ex section.section-2 .bx {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: #fff;
    border: 0;
    margin-bottom: 7px;
    padding: 6px 10px 6px 0;
	margin: 12px 0 10px 0;
}

.page-wrappers.home-wrappers .page-wrapper.page-wrapper-ex section.section-2.reffer .bx a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
	color: #000;
	text-decoration: none;
	width: 100%;
}

.page-wrapper.page-wrapper-ex section.section-2.reffer .bx .image h3 {
    display: flex;
    align-items: center;
    font-size: 14px;
}

section.section-2.reffer .bx .image h3 > img {
    max-width: 30px;
    margin-right: 6px;
}

section.section-2.reffer .bx .arw img {
    max-width: 7px;
}

.page-wrappers.no-empty-page section.section-1 {
    padding: 50px 0px 0;
}

.no-empty-page .inner-space {
    padding: 5px 15px 15px 15px;
}

.no-empty-page .section-2 p.title {
    padding: 10px;
    color: #9b9b9b;
}

.select-tbs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-tbs .tb {
    display: flex;
    align-items: center;
    position: relative;
    width: 48%;
    background: #f2f3f5;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
	overflow: hidden;
}

.select-tbs .tb img.y-icon {
    max-width: 23px;
    position: absolute;
    right: 0;
    bottom: -2px;
	display: none;
}

.select-tbs .tb.active img.y-icon {
    display: block;
}

.select-tbs .tb.active {
    border: 2px solid #fdd830;
    /* overflow: hidden; */
	background: #fff;
}

.select-tbs .tb img.icon {
    max-width: 25px;
}

.select-tbs .tb  input[type="radio"] {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.no-empty-page section.section-2 .btm {
    padding: 15px 0;
}

.select-amt {
    background: #f8f9fc;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 5px;
}

.select-amt input[type="number"] {
    border: 0;
    background: transparent;
    padding: 10px;
    appearance: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
}

.select-amt .amt, .amt {
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.select-amt .amt img.icon, .amt img.icon {
    max-width: 20px;
    margin-right: 6px;
}

.warning .inside {
    background: #fffef0;
    padding: 15px;
    line-height: 130%;
	font-weight: 500;
    font-size: 13px;
}

.warning .inside img.icon {
    max-width: 20px;
    margin-right: 5px;
	vertical-align: sub;
}

.header .right.d-flex {
    display: flex;
}

.header .right.d-flex > img {
    margin-left: 10px;
}

.text-center {
    text-align: center;
}

.page-wrappers.deposit-amount-page {
	background: #f9f9f9;
}

.page-wrappers.deposit-amount-page header.header {
    padding: 13px;
}

.page-wrappers.deposit-amount-page section.section-1 {
    background: #f7fbfe;
	padding: 50px 15px 0;
    padding-top: 5px;
    padding-bottom: 20px;
    margin: 0px 0px 10px;
}

.page-wrappers.deposit-amount-page .page-wrapper {
    padding: 0;
}

.page-wrappers.deposit-amount-page section.section-1 p.title {
    padding: 10px 0;
    font-size: 16px;
    color: #333;
}

.rem-time {
    padding-top: 15px;
}

.rem-time span.num {
    background-image: linear-gradient(178deg, #606977, #717c8d);
    color: #fff;
    padding: 5px 5px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    font-family: lato;
}

.rem-time span.sep {
    font-size: 20px;
    font-weight: bold;
}

.rem-time {
    font-weight: 400;
    color: #333;
	margin-bottom: 20px;
}

.rem-time span.num:last-child {
    margin-right: 5px;
}

.page-wrappers.deposit-amount-page section.section-1 .select-amt {
    background: #fff;
    margin-top: 16px;
}

section.section-1 .select-amt input[type="number"] {
    font-weight: normal;
}

.page-wrappers.deposit-amount-page section.section-1 .select-amt .submit button {
    margin-top: 0;
    padding: 7px 10px;
    border-radius: 5px;
}

.page-wrappers.deposit-amount-page section.section-2 p.title {
    padding-left: 0;
}

.page-wrappers.deposit-amount-page section.section-2 .rw {
    border-bottom: 1px solid #eee;
    padding-bottom: 14px;
    color: #333;
    background: #fff;
    border-radius: 0;
    padding: 10px;
}

section.section-2 .rw .address .copy{
	cursor: pointer;
}

section.section-2 .rw .address img.icon {
    max-width: 16px;
	margin-left: 5px;
}

.warning .inside span.red {
    color: red;
}

section.section-2 .rw .amt {
	letter-spacing: 0;
	color: #333;
}
section.section-2 .rw .amt.no-weight {
    font-weight: normal;
}

.page-wrappers.deposit-amount-page section.section-2 .rw.anc a {
    color: #ff0036;
    text-decoration: none;
}

.page-wrappers.deposit-amount-page section.section-2 .rw.anc {
    background: transparent;
    border: 0;
    padding: 10px 0;
}

.page-wrappers.deposit-amount-page section.section-2 .rw.anc p.title b {
    color: #333;
    font-size: 22px;
    line-height: 0;
    display: inline-block;
    position: relative;
    top: -2px;
}

footer.footer.footer-op1 {border: 0;}

footer.footer.footer-op1 button.button-style {
    width: 100%;
    margin: 0;
    padding: 14px 0;
    background: #ff0036;
}

.page-wrappers.add-bank-page {}

.page-wrappers.deposit-amount-page.add-bank-page .section-1 {
	background: #fff;
}

.page-wrappers.add-bank-page .section-1 .dflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-wrappers.add-bank-page .section-1 .image img.icon {
    max-width: 18px;
}

.page-wrappers.add-bank-page .section-1 .border-btm {
    border-bottom: 1px solid #eee;
    padding: 11px 0 7px;
}


.add-bank {}

.add-bank button.button-style {
    background: #fff;
    border: 2px dotted #33db91;
    padding: 17px 0;
    display: flex;
    justify-content: center;
    color: #000;
    align-items: center;
    font-size: 16px;
    color: #333;
    font-weight: 800;
    border-radius: 5px;
    letter-spacing: .5px;
	max-width: 90%;
	margin: auto;
	margin-top: 15px;
}

.add-bank button.button-style img.icon {
    max-width: 20px;
    margin-right: 10px;
}

.page-wrappers.deposit-amount-page.add-bank-page .section-2 .btm {
    padding-top: 10px;
}

.page-wrappers.deposit-amount-page.add-bank-page .section-2 {
    background: #fff;
	margin-bottom: 10px;
}

.page-wrappers.deposit-amount-page.add-bank-page .section-2 p.title {
    color: #333;
}

.page-wrappers.deposit-amount-page.add-bank-page .section-2 input[type="number"] {
    font-weight: normal;
    padding-left: 0;
}

.page-wrappers.deposit-amount-page.add-bank-page .warning {}

.page-wrappers.deposit-amount-page.add-bank-page .warning a.login-btn {
    opacity: .2;
    padding: 15px 0;
}

.page-wrappers.deposit-amount-page.add-bank-page .warning .inside {
    padding: 0;
    background: transparent;
    opacity: .3;
}

.page-wrappers.deposit-amount-page.add-bank-page .warning  .login-bx {
    margin-bottom: 5px;
}


body {
	margin: 0;
	font: 14px "Roboto", sans-serif;
	background: #eeeef1;
}

h1, h2, h3, h4, p {
	margin: 0;
}

.text-center {
    text-align: center;
}

.container {    
    margin: auto;
	width: 100%;
    max-width: 90%;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 999;
    left: 0;
}

.loader img {
    max-width: 50px;
}
.page-wrappers {
    position: relative;
    max-width: 375px;
    margin: auto;
    background: #fff;
    height: 100vh;
    box-sizing: border-box;
	overflow: hidden;
}

.page-wrapper {
    height: 90%;
    padding: 14px 10px 14px 16px;
    box-sizing: border-box;
    overflow: auto;
    margin: 45px 0;
    scrollbar-width: thin;
	scrollbar-color: transparent transparent;
	transition: scrollbar-color 0.3s;
}
.page-wrapper.page-wrapper-ex {
    margin-top: 60px;
	background: #f6f7fa;
}
.page-wrapper:hover {
  scrollbar-color: #eee #fff;
}

header.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 11px 0 11px;
    position: fixed;
    left: 0;
    right: 0;
    max-width: 375px;
    margin: auto;
    background: #fff;    
    box-sizing: border-box;
    top: 0;
}

header.header .brdc {
    width: 100%;
	padding-top: 0px;
}

header.header .right img {
    max-width: 19.5px;
    position: relative;
    top: 1px;
	right: 1px;
}

.page-wrapper-ex .section-1 .image img {
    border-radius: 10px;
}

section.section-2 .rw .bx {
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px 10px;
    border: 1px solid #dddddd;
    margin: 5px 0 10px;
}

section.section-2 {
    padding-top: 3px;
}

section.section-2 .rw .bx left img {
    max-width: 40px;
}

section.section-2 .rw .bx .image img {
    max-width: 250px;
}

section.section-2 .rw .bx .image {
    padding: 0 10px 0 5px;
    box-sizing: border-box;
}

section.section-2 .rw .bx .right {}

section.section-2 .rw .bx .right .info h3 {
    padding-bottom: 5px;
    color: #000;
    font-size: 15px;
    letter-spacing: .1px;
	font-weight: 500;
}

section.section-2 .rw .bx .right .info p {
    color: #9999a6;
    letter-spacing: .1px;
    line-height: 20px;
    font-size: 14px;
}

section.section-3 {}

section.section-3 .image {
    text-align: center;
    padding-top: 5px;
}

section.section-3 .image img {
    max-width: 75%;
    margin: auto;
}

section.section-3 p.title {
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}

section.section-4 {
    padding-top: 30px;
}

section.section-4 table th, 
section.section-4 table td {
    font-weight: normal;
    text-align: center;
    color: #333;
}

section.section-4 h3.title {
    color: #333;
    padding-bottom: 10px;
}

section.section-4 table {
    width: 100%;
}

section.section-4 table .icon img {
    max-width: 35px;
}

section.section-4 table .dflex {
    display: flex;
    align-items: center;
}

section.section-4 table td {
    padding: 8px 0;
}

section.section-4 table .icon {
    padding: 0 10px 0 0px;
}

section.section-4 table td h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #333;
}

section.section-4 table td p {
    font-size: 12px;
    color: #4eb98f;
    font-weight: 500;
    padding: 2px 0;
}

section.section-4 table td p.red {
    color: #ed363f;
}

section.section-4 table td h4 {
    font-weight: 500;
    font-size: 13px;
}

section.section-4 table th:first-child {
    text-align: left;
}

section.section-4 table th:last-child, 
section.section-4 table td:last-child {
    text-align: right;
}

.page-wrapper-ex .price-calc {
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    background-image: url(../images/ex-bg1.png);
    background-position: left top;
    background-size: 100%;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
}

.page-wrapper-ex .price-calc .priceref {
    text-align: center;
}

.page-wrapper-ex .price-calc .priceref p {
    font-size: 13px;
    color: #777;
}

.page-wrapper-ex .price-calc .priceref p span.ref {
    color: orange;
}

.page-wrapper-ex .price-calc  .base-price {
    text-align: center;
}

.page-wrapper-ex .price-calc .base-price h4 {
    font-size: 45px;

}

.page-wrapper-ex .price-calc .base-price h4 span {
    background: url(../images/base.png);
    font-size: 13px;
    color: #fff;
    padding: 4px 7px 5px 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: inline-block;
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 400;
    background-position: center;
    position: relative;
    bottom: 5px;
}

.page-wrapper-ex p.onepriceex {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.page-wrapper-ex .pricerefBx {
    background-image: linear-gradient(45deg, #ffe885, #fffbd8);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 0px;
}

.page-wrapper-ex .pricerefBx table {
    background: #fff;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    border: 0;
}

.page-wrapper-ex .pricerefBx table thead tr:first-child {
    background-image: linear-gradient(45deg, #fff0a7, #fffbd8);
}

.page-wrapper-ex .pricerefBx table td {
    padding: 8px 10px;
    border: 1px solid #ebebeb;
    border-right: 0;
    border-top: 0;
    font-size: 13px;
    text-align: center;
}

.page-wrapper-ex .pricerefBx table td span.red {
    color: red;
    font-size: 12.5px;
}

.page-wrapper-ex .pricerefBx table tr td a {
    color: #333;
    display: inline-block;
    padding: 2px 0;
    font-size: 12px;
}

.page-wrapper-ex .pricerefBx table tr:last-child td {
    border-bottom: 0; 
}

.page-wrapper-ex .pricerefBx table th {
    color: #333;
    padding: 5px 10px 7px 10px;
    font-size: 15px;
    font-weight: 500;
}

.page-wrapper-ex .pricerefBx table tr td:first-child {
    border-left: 0;
}

.page-wrapper-ex .login-bx {
    text-align: center;
    margin: 15px 0;
}

.page-wrapper-ex .login-bx .login-btn {
    border: 0;
    background: #1d1c20;
    color: #fff;
    padding: 11px 0px;
    border-radius: 40px;
    width: 100%;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
	text-decoration: none;
	display: inline-block;
}

.page-wrapper-ex .login-bx p.text {
    color: #ff0036;
    font-weight: 500;
    font-size: 13px;
}

.page-wrapper-ex .deposit {
	text-align: center;
	display: flex;
	justify-content: space-around;
	padding-bottom: 10px;
}

.page-wrapper-ex .deposit .icon img {
    max-width: 30px;
}

.page-wrapper-ex .deposit a {
    color: #333;
    text-decoration: none;
}

.page-wrapper-ex .notify {
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #616161;
	justify-content: space-between;
	margin-top: 5px;
}

.page-wrapper-ex .notify .lefts {
    display: flex;
    align-items: center;
	font-size: 13px;
}

.page-wrapper-ex .notify .icon.right {}

.page-wrapper-ex .notify .icon.right img {
    max-width: 8px;
}

.page-wrapper-ex .notify .icon img {
    max-width: 16px;
}

.page-wrapper-ex .notify .icon {
    display: flex;
}

.page-wrapper-ex .notify .spr {
    padding: 0 6px;
}

.page-wrapper-ex .notify p.text {
   width: 100% !important;
}

.page-wrapper-ex .notify p.text span.time {
    color: #000;
}

section.section-4 .dflex-out {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

section.section-4 .dflex-out .dflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3px;
}

section.section-4 .dflex-out .bx > .dflex > img {
    max-width: 100px;
    display: flex;
}

section.section-4 .dflex-out .bx {
    background: #fff;
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
    width: 43%;
}

section.section-4 .dflex-out .dflex a img {
    max-width: 20px;
}

.page-wrapper.page-wrapper-ex section.section-4 {
    padding-top: 10px;
}

section.section-4 .dflex-out .text {
    font-weight: 500;
    color: #818181;
}

section.section-4 .dflex-out .text span.b {
    color: #000;
    font-size: 28px;
    
}

span.font {
    font-family: 'corsicasx6';
}

section.section-4 .dflex-out .text span.rs {
    color: #000;
}

section.section-4 .dflex-out .small {
    padding: 5px 0;
    font-size: 12px;
    color: #ababab;
}

section.section-4 .dflex-out .rw {
    font-weight: 500;
    color: #818181;
    padding: 3px 0 0;
    font-size: 13px;
}

.page-wrapper.page-wrapper-ex section.section-4 p.title.btm {
    text-align: center;
	padding: 5px 0;
    color: #333;
    font-weight: 500;
    font-size: 13px;
}

.page-wrapper.page-wrapper-ex p.title {
    font-size: 18px;
	color: #242424;
}

.page-wrapper.page-wrapper-ex section.section-2 {
    margin-bottom: 30px;
}

.page-wrapper.page-wrapper-ex section.section-2 p.title {
    padding: 15px 0 10px;
}

.page-wrapper.page-wrapper-ex section.section-2 .bx {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: #fff;
    border: 0;
    margin-bottom: 7px;
}

.page-wrapper.page-wrapper-ex section.section-2 .bx .image {
    display: flex;
    align-items: center;
}

.page-wrapper.page-wrapper-ex section.section-2 .bx .image > img {
    max-width: 36px;
    opacity: .9;
}

.page-wrapper.page-wrapper-ex section.section-2 .bx h3 {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: .5px;
    padding-left: 6px;
}

.page-wrapper.page-wrapper-ex section.section-2 .bx  .info p {
    font-weight: 400;
    color: #454545;
    line-height: 150%;
    margin: 0;
}

.page-wrapperss.page-wrapper-login {
    padding: 0 10px;
    line-height: 150%;
}

.page-wrapperss.page-wrapper-login .login-bx {
    padding: 0 10px;
}

.page-wrapperss.page-wrapper-login .login-bx button.login-btn {
	margin-top: 10px;
    width: 65%;
}

.page-wrapperss.page-wrapper-login .section-3 p.title {
    padding-bottom: 10px;
}

.back-btn {}

.back-btn a img {
    max-width: 20px;
}

.back-btn a {
    display: inline-block;
    margin-top: 15px;
    margin-left: 5px;
}

.page-wrapperss.page-wrapper-loginacc {}

.page-wrapperss.page-wrapper-loginacc section.section-1 {
    padding: 40px 30px;
}

.page-wrapperss.page-wrapper-loginacc section.section-1 h3.title {
    font-weight: 500;
    font-size: 20px;
    color: #333;
    padding-bottom: 10px;
}

.page-wrapperss.page-wrapper-loginacc section.section-1 p {
    color: #ababab;
}

.form-bx {}

.form-bx label.text {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}

.form-bx .form-rw {
    margin: 10px 0;
    display: inline-block;
    width: 100%;
}

.form-bx .form-rw input[type="text"] {
    border: 0px solid #ccc;
    padding: 15px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    background: #f1f1f1;
    font-weight: bold;
    color: #000;
    box-sizing: border-box;
	outline: none;
}

.form-bx .form-rw .pos {
    position: relative;
}

.form-bx .form-rw .pos button {
	position: absolute;
    right: 7px;
    top: 13px;
    background: #333;
    border: 0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Roboto';
    bottom: auto;
}

.form-bx .form-rw .pos input[type="text"] {
    padding-right: 65px;
}

.form-bx .form-rw button.login-btn {}

.form-bx .login-btn, .button-style {
	cursor: pointer;
    border: 0;
    background: #1d1c20;
    color: #fff;
    padding: 11px 0px;
    border-radius: 40px;
    width: 100%;
    margin-top: 15px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto';
	text-align: center;
}

.page-wrapperss.form-wrapper {}

.page-wrapperss.form-wrapper label.text {
    background: transparent;
}

.page-wrapperss.form-wrapper .form-bx .form-rw {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.page-wrapperss.form-wrapper .form-bx  input[type="text"] {
    background: transparent;
    margin-top: 10px;
	font-weight: normal;
}

-wrapperss.form-wrapper .form-bx label.text {}

.page-wrapperss.form-wrapper .form-bx .form-rw label.text {
    position: absolute;
    left: 5px;
    background: #ffff;
    top: -9px;
    padding: 0 10px;
    font-weight: 400;
    right: auto;
    box-sizing: border-box;
    width: auto;
    display: inline-block;
	font-size: 13px;
}

.page-wrapperss.form-wrapper .form-bx .form-rw {
    position: relative;
    margin: 25px 0 0;
}

.page-wrapperss.form-wrapper .login-btn {
    margin-top: 25px;
}

.brdc {
    display: flex;
    align-items: center;
    padding-top: 15px;
    position: relative;
}

.brdc .back-btn a {
    margin-top: 0;
    display: flex;
}

.brdc .back-btn {
    margin-right: 10px;
    position: relative;
    z-index: 9;
}

.brdc h3 {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    margin: auto;
    text-align: center;
    color: #333;
    font-size: 18px;
}

.empty-page {}

.empty-page section.section-1 {
    display: flex;
    justify-content: center;
    min-height: 70vh;
    align-items: center;
}

footer.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 11px 8px 11px;
    position: fixed;
    left: 0;
    right: 0;
    max-width: 375px;
    margin: auto;
    background: #fff;
    box-sizing: border-box;
    bottom: 0;
    border-top: 1px solid #eee;
}

.page-wrappers.home-wrappers {
    background-image: url(../images/home-bg1.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: left top;
	background-size: 100%;
}

.page-wrappers.home-wrappers .page-wrapper {
    position: relative;
    margin-top: 0;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 {
    /* position: relative; */
    /* z-index: 999; */
}

.page-wrappers.home-wrappers header.header {
    z-index: 9;
    padding: 12px 15px;
    background: transparent;
}

.page-wrappers.home-wrappers .page-wrapper {
    background: transparent;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .pic img {
    max-width: 80px;
    margin: auto;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .pic {
    text-align: center;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .tab-inl {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 24px;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .userpro {
    text-align: center;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 h3 {
    font-size: 22px;
    padding: 10px 0 25px;
    font-weight: 700;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .bx h3 {
    padding: 0;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .bx p {
    color: #757575;
    font-weight: 400;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .bx {
    width: 100%;
    border-right: 1px solid #eee;
}

.page-wrappers.home-wrappers .page-wrapper section.section-1 .bx:last-child {
    border: 0;
}

.page-wrappers.home-wrappers .page-wrapper section.section-2a {
    background-image: url(../images/home-bg2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 8px 10px 12px 10px;
}

.page-wrappers.home-wrappers section.section-2a .inside {}

.page-wrappers.home-wrappers section.section-2a .inside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .lefts {
    display: flex;
    color: #fff;
    align-items: center;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .lefts .lf img {
    max-width: 35px;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .lefts .rf p img.inq {
	position: relative;
	top: 2px;
	left: 3px;
    max-width: 15px;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .lefts .rf p {
    font-weight: normal;
    font-size: 13px;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .lefts .rf {
    padding-left: 10px;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .lefts p.ttl {
    color: #fcda8f;	
}

.page-wrappers.home-wrappers section.section-2a .inside .btm button {
    background: #404f81;
    color: #fff;
    width: 100%;
    border: 0;
    padding: 8px 0;
    margin-top: 5px;
    border-radius: 5px;
	cursor: pointer;
}

.page-wrappers.home-wrappers section.section-2a .inside .top .rights button.btn {
    background: #f7e0b6;
    border: 0;
    border-radius: 30px;
    padding: 6px 10px;
    color: #ad570d;
	cursor: pointer;
}

.page-wrappers.home-wrappers section.section-3 .inside {
    background-image: url(../images/home-bg3.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 18px 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.page-wrappers.home-wrappers section.section-3 .inside p.ttl img {
    max-width: 17px;
    position: absolute;
    right: -21px;
    top: -4px;
}

.page-wrappers.home-wrappers section.section-3 .inside button.btn {
    background: #181818;
    border: 0;
    color: #fff;
    border-radius: 20px;
    padding: 9px 23px;
    margin-bottom: 10px;
	cursor: pointer;
}

.page-wrappers.home-wrappers section.section-3 .inside p.ttl {
    padding-bottom: 5px;
    color: #333;
	position: relative;
	display: inline-block;
}

.page-wrappers.home-wrappers section.section-3 .inside p b {
    font-size: 16px;
    font-weight: 500;
}

.page-wrappers.home-wrappers section.section-3 .inside .rights {
    text-align: center;
    padding-left: 7px;
}

.page-wrappers.home-wrappers section.section-3 .inside .mid {
    border-right: 1px solid #000;
}

.page-wrappers.home-wrappers section.section-3 .inside > div {
    width: 100%;
}

section.section-2.reffer {
    padding-top: 10px;
}

.page-wrappers.home-wrappers .page-wrapper.page-wrapper-ex section.section-2 .bx {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: #fff;
    border: 0;
    margin-bottom: 7px;
    padding: 6px 10px 6px 0;
	margin: 12px 0 10px 0;
}

.page-wrappers.home-wrappers .page-wrapper.page-wrapper-ex section.section-2.reffer .bx a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
	color: #000;
	text-decoration: none;
	width: 100%;
}

.page-wrapper.page-wrapper-ex section.section-2.reffer .bx .image h3 {
    display: flex;
    align-items: center;
    font-size: 14px;
}

section.section-2.reffer .bx .image h3 > img {
    max-width: 30px;
    margin-right: 6px;
}

section.section-2.reffer .bx .arw img {
    max-width: 7px;
}

.page-wrappers.no-empty-page section.section-1 {
    padding: 50px 0px 0;
}

.no-empty-page .inner-space {
    padding: 5px 15px 15px 15px;
}

.no-empty-page .section-2 p.title {
    padding: 10px;
    color: #9b9b9b;
}

.select-tbs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-tbs .tb {
    display: flex;
    align-items: center;
    position: relative;
    width: 48%;
    background: #f2f3f5;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
	overflow: hidden;
}

.select-tbs .tb img.y-icon {
    max-width: 23px;
    position: absolute;
    right: 0;
    bottom: -2px;
	display: none;
}

.select-tbs .tb.active img.y-icon {
    display: block;
}

.select-tbs .tb.active {
    border: 2px solid #fdd830;
    /* overflow: hidden; */
	background: #fff;
}

.select-tbs .tb img.icon {
    max-width: 25px;
}

.select-tbs .tb  input[type="radio"] {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.no-empty-page section.section-2 .btm {
    padding: 15px 0;
}

.select-amt {
    background: #f8f9fc;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 5px;
}

.select-amt input[type="number"] {
    border: 0;
    background: transparent;
    padding: 10px;
    appearance: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
}

.select-amt .amt, .amt {
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.select-amt .amt img.icon, .amt img.icon {
    max-width: 20px;
    margin-right: 6px;
}

.warning .inside {
    background: #fffef0;
    padding: 15px;
    line-height: 130%;
	font-weight: 500;
    font-size: 13px;
}

.warning .inside img.icon {
    max-width: 20px;
    margin-right: 5px;
	vertical-align: sub;
}

.header .right.d-flex {
    display: flex;
}

.header .right.d-flex > img {
    margin-left: 10px;
}

.text-center {
    text-align: center;
}

.page-wrappers.deposit-amount-page {
	background: #f9f9f9;
}

.page-wrappers.deposit-amount-page header.header {
    padding: 13px;
}

.page-wrappers.deposit-amount-page section.section-1 {
    background: #f7fbfe;
	padding: 50px 15px 0;
    padding-top: 5px;
    padding-bottom: 20px;
    margin: 0px 0px 10px;
}

.page-wrappers.deposit-amount-page .page-wrapper {
    padding: 0;
}

.page-wrappers.deposit-amount-page section.section-1 p.title {
    padding: 10px 0;
    font-size: 16px;
    color: #333;
}

.rem-time {
    padding-top: 15px;
}

.rem-time span.num {
    background-image: linear-gradient(178deg, #606977, #717c8d);
    color: #fff;
    padding: 5px 5px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    font-family: lato;
}

.rem-time span.sep {
    font-size: 20px;
    font-weight: bold;
}

.rem-time {
    font-weight: 400;
    color: #333;
	margin-bottom: 20px;
}

.rem-time span.num:last-child {
    margin-right: 5px;
}

.page-wrappers.deposit-amount-page section.section-1 .select-amt {
    background: #fff;
    margin-top: 16px;
}

section.section-1 .select-amt input[type="number"] {
    font-weight: normal;
}

.page-wrappers.deposit-amount-page section.section-1 .select-amt .submit button {
    margin-top: 0;
    padding: 7px 10px;
    border-radius: 5px;
}

.page-wrappers.deposit-amount-page section.section-2 p.title {
    padding-left: 0;
}

.page-wrappers.deposit-amount-page section.section-2 .rw {
    border-bottom: 1px solid #eee;
    padding-bottom: 14px;
    color: #333;
    background: #fff;
    border-radius: 0;
    padding: 10px;
}

section.section-2 .rw .address .copy{
	cursor: pointer;
}

section.section-2 .rw .address img.icon {
    max-width: 16px;
	margin-left: 5px;
}

.warning .inside span.red {
    color: red;
}

section.section-2 .rw .amt {
	letter-spacing: 0;
	color: #333;
}
section.section-2 .rw .amt.no-weight {
    font-weight: normal;
}

.page-wrappers.deposit-amount-page section.section-2 .rw.anc a {
    color: #ff0036;
    text-decoration: none;
}

.page-wrappers.deposit-amount-page section.section-2 .rw.anc {
    background: transparent;
    border: 0;
    padding: 10px 0;
}

.page-wrappers.deposit-amount-page section.section-2 .rw.anc p.title b {
    color: #333;
    font-size: 22px;
    line-height: 0;
    display: inline-block;
    position: relative;
    top: -2px;
}

footer.footer.footer-op1 {border: 0;}

footer.footer.footer-op1 button.button-style {
    width: 100%;
    margin: 0;
    padding: 14px 0;
    background: #ff0036;
}

.page-wrappers.add-bank-page {}

.page-wrappers.deposit-amount-page.add-bank-page .section-1 {
	background: #fff;
}

.page-wrappers.add-bank-page .section-1 .dflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-wrappers.add-bank-page .section-1 .image img.icon {
    max-width: 18px;
}

.page-wrappers.add-bank-page .section-1 .border-btm {
    border-bottom: 1px solid #eee;
    padding: 11px 0 7px;
}


.add-bank {}

.add-bank .button-style {
    background: #fff;
    border: 2px dotted #33db91;
    padding: 17px 0;
    display: flex;
    justify-content: center;
    color: #000;
    align-items: center;
    font-size: 16px;
    color: #333;
    font-weight: 800;
    border-radius: 5px;
    letter-spacing: .5px;
	max-width: 90%;
	margin: auto;
	margin-top: 15px;
}

.add-bank .button-style img.icon {
    max-width: 20px;
    margin-right: 10px;
}

.page-wrappers.deposit-amount-page.add-bank-page .section-2 .btm {
    padding-top: 10px;
	padding-bottom: 0;
}

.page-wrappers.deposit-amount-page.add-bank-page .section-2 p.title {
    color: #333;
	font-size: 14px;
}

.page-wrappers.deposit-amount-page.add-bank-page .section-2 input[type="number"] {
    font-weight: normal;
    padding-left: 0;
}

.page-wrappers.deposit-amount-page.add-bank-page .section-2 .title.clrgren {
    color: #4373ff;
    display: flex;
    align-items: center;
}

.page-wrappers.deposit-amount-page.add-bank-page .section-2 .clrgren img.icon {
    margin-left: 4px;
}

.page-wrappers.deposit-amount-page.add-bank-page .section-2 .avail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
}

.page-wrappers.deposit-amount-page.add-bank-page .section-2 .select-amt {
    background: #fff;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    padding: 5px 0;
}

.page-wrappers.deposit-amount-page.add-bank-page  .pricerefBx {
    margin-top: 20px;
    background: #f6f7fa;
}

.page-wrappers.bind-bank-card header.header {
    padding: 13px 10px;
}

footer.footer.footer-op1 .bx {
    width: 100%;
    padding: 6px 0;
}


footer.footer a {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 11px;
}

footer.footer a .icon img {
    max-width: 25px;
}


